//===========< Медиа-запросы >===========

@mixin md1 {
  @media (max-width: $maxWidth) {
    @content;
  }
}

@mixin md2 {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin md3 {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin md4 {
  @media (max-width: 480px) {
    @content;
  }
}

//===========< / Медиа-запросы >===========

//===========< Три точки при переполнении текста в блоке >===========

@mixin word-break() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// с указанием количества максимальных строк
@mixin word-break-line($x: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $x;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

//===========< / Три точки при переполнении текста в блоке >===========