//===========< Контейнеры, ограничители >===========

$minWidth: 320px;
$maxWidth: 1280px;
$maxWidthContainer: 996px;

//===========< / Контейнеры, ограничители >===========

//===========< Главный шрифт >===========

$fontFamily: 'Roboto';

//===========< / Главный шрифт >===========

//===========< Фон >===========

$back-color-support: #93BBEA;
$button-color-light-green: #36BA5F;
$button-icons-light-gray: #F9F9F9;

//===========< Фон >===========

//===========< Шрифт >===========

$font-size-min: 15px;
$font-size-mid: 20px;
$font-size-max: 40px;

$font-color-white: #fff;
$font-color-grey: #1A1A1A;
$font-color-light-grey: #949494;

//===========< / Шрифт >===========

//===========< Ссылки >===========

// $link-color-hover: $font-color-blue;
// $link-color-active: #0169A8;
// $link-color-focus: $font-color-orange;

//===========< / Ссылки >===========
